
{% extends 'base.html.twig' %}
{% block title %}Hello LuckyController!{% endblock %}

{% block body %}
    <center>
        <div class="elementor-widget-container">
                    </div>


    {% for Fichier in Fichier  %}


        <tr>{{  Fichier.getTitre() }}</tr>
        ||
        <tr>{{  Fichier.getFormat()}}</tr>


        <a  href="{{ path('doc_del',{'id':Fichier.getId()})}}">
            <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1">
                Supprimer</button></a>
        <br>


    {% endfor %}
    
    <a  href="{{ path('doc_add')}}">
        <button type="button" class="btn btn-outline-info">
            Ajouter</button></a>
    <br>
    </div>
    </center>
{% endblock %}